.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    color:cornsilk;
    padding: 16px;
    margin: 0px;
}

.list {
    padding-left: 10px;
    background-color: sandybrown;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 700px;
    height: 500px;
    margin: 10px;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    color: cornsilk;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    list-style-type: decimal;
    padding: 16px;
    font-size: 23px;
    font-style: italic;
}